{% include 'commons/header.twig' %}	

		<div class="tg-innerpagebanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ol class="tg-breadcrumb">
							<li><a href="shopdetail.html#">Home</a></li>
							<li><a href="shopdetail.html#">WiFi Solutions</a></li>
							<li class="tg-active">Social WiFi</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<main id="tg-main" class="tg-haslayout">

			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
							<div class="tg-sectionhead">
								<div class="tg-heading">
									<h2>Social WiFi</h2>
								</div>
								<div class="tg-description">
									<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaiate dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.</p>
								</div>
							</div>
						</div>
						<div class="tg-shortcode tg-tailoronlinework">
							<ul class="tg-customsuitprocess">
								<li>
									<div class="tg-process">
										<figure class="tg-processimg">
											<span class="tg-processicon">01</span>
											<img src="assets/images/process/img-01.jpg" alt="image description">
										</figure>
										<div class="tg-processtitle">
											<h3>Visitors connnect to your WiFi network using their phone, tablets or laptops</h3>
										</div>
									</div>
								</li>
								<li>
									<div class="tg-process">
										<figure class="tg-processimg">
											<span class="tg-processicon">02</span>
											<img src="assets/images/process/img-02.jpg" alt="image description">
										</figure>
										<div class="tg-processtitle">
											<h3>Your fully customized WiFi Network Access Portal prompts visitors to log in</h3>
										</div>
									</div>
								</li>
								<li>
									<div class="tg-process">
										<figure class="tg-processimg">
											<span class="tg-processicon">03</span>
											<img src="assets/images/process/img-03.jpg" alt="image description">
										</figure>
										<div class="tg-processtitle">
											<h3>Your visitors get online and your WiFi network says goodbye to any simple password</h3>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="tg-bglight tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-shortcode tg-freeiconpack">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
								<div class="tg-shortcodetext">
									<div class="tg-heading">
										<h2>Full branding</h2>
									</div>
									<div class="tg-description">
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore etaiatiea dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullaceo laboris nisi ut aliquip ex ea commodo consequat.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
								<div class="tg-shortcodeimg">
									<figure>
										<img src="/assets/images/portal-demo.png" alt="image description" style="width: 300px !important; padding-bottom: 30px" class="pull-right">
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">

						<div class="tg-shortcode tg-builtinassets">
							<ul class="tg-builtinassetslist">
								<li>
									<div class="tg-builtinasset">

										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<div class="row">
												<div class="tg-shortcodetext">
													<h2>Free Blazer Images</h2>
													<ul class="tg-themeliststyletick">
														<li>05 Lapels Design</li>
														<li>06 Blazer Buttons Design</li>
														<li>06 Blazer Pockets Design</li>
														<li>03 Blazer Vents Design</li>
														<li>10+ Linings Patterns 10+</li>
													</ul>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<div class="row">
												<div class="tg-shortcodetext">
													<h2>&nbsp;</h2>
													<ul class="tg-themeliststyletick">
														<li>05 Lapels Design</li>
														<li>06 Blazer Buttons Design</li>
														<li>06 Blazer Pockets Design</li>
														<li>03 Blazer Vents Design</li>
														<li>10+ Linings Patterns 10+</li>
													</ul>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
											<div class="row">
												<div class="tg-shortcodetext">
													<h2>&nbsp;</h2>													
													<ul class="tg-themeliststyletick">
														<li>05 Lapels Design</li>
														<li>06 Blazer Buttons Design</li>
														<li>06 Blazer Pockets Design</li>
														<li>03 Blazer Vents Design</li>
														<li>10+ Linings Patterns 10+</li>
													</ul>
												</div>
											</div>
										</div>										
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="tg-calltoaction">
								<h2>More information?</h2>
								<h3>Get our free demonstration now!</h3>
								<a href="" class="tg-btn" target="_blank">Schedule a Demo</a>
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>




{% include 'commons/footer.twig' %}		

<script type="text/javascript">
$(document).ready(function(){

	$("#wifi-solutions").addClass("current-menu-item");
})
</script>