			<div class="tg-logonav">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<strong class="tg-logo"><a href="index.html"><img src="/assets/images/logo-lw-web.png" alt="company logo here"></a></strong>
							<div class="tg-navigationarea">
								<nav id="tg-nav" class="tg-nav">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
										<ul>
											<li id="home">
												<a href="/">Home</a>
											</li>
											<li id="wifi-solutions" class="menu-item-has-children">
												<a href="javascript:void(0);">WiFi Solutions</a>
												<ul class="sub-menu">
													<li><a href="/wifi-solutions/social-wifi">Social WiFi</a></li>
													<li><a href="/wifi-solutions/education">Education</a></li>
													<li><a href="/wifi-solutions/hospitality">Hospitality</a></li>
													<li><a href="/wifi-solutions/city-wifi">City WiFi</a></li>
													<li><a href="/wifi-solutions/corporate-wifi">Corporate WiFi</a></li>
												</ul>
											</li>
											<li id="supported-devices"><a href="#">Supported Devices</a></li>
											<li id="partners"><a href="#">Partners</a></li>
											<li id="contact-us"><a href="#">Contact Us</a></li>
										</ul>
									</div>
								</nav>
								<a class="tg-btn tg-btnstartcustomizing" href="#" target="_blank"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Customer Login</a>
							</div>
						</div>
					</div>
				</div>
			</div>